{% extends "layout.html" %}

{% block contents %}
    <div class="llCommentCreate">
        <form role="form" method="post">
            {{ form.hidden_tag() }}

            {% from "_form_field.html" import render_field %}
            {% for field in form if field.widget.input_type != 'hidden' %}
                {{ render_field(field, class="form-control") }}
            {% endfor %}

			<div class="form-group">
				<div class="row">
				<div class="col-sm-offset-4 col-sm-8">
				<button type="submit" class="btn btn-default">댓글쓰기</button>
				</div>
				</div>
			</div>
        </form>
    </div>
{% endblock %}
