html,body{
	height: 100%;
	width: 100%;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
body{
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow-x: hidden;
	font-family:'Nanum Gothic', Arial;
	word-break: keep-all;
	line-height: 150%;	
	font-size: 12px;
	min-width: 750px;
	color: rgb(255,255,255);
}
#footer{
	padding-top: 30px;
	padding-bottom: 30px;
	height: 100px;
	width: 100%;
	color: rgb(255,255,255);
}
#footer .container{
	border-top: 1px solid #C4C4C4;
	padding-top: 10px;
}
#sidebar{
	background-color: rgba(255,255,255,0.7);
	border: 1px solid white;
	border-radius: 5px;
	position: fixed;
	right: 80px;
	top: 127px;
	min-height: 100px;
	padding-bottom: 5px;
}
.table_area{
	background-color: rgba(255,255,255,0.9);
	text-align: center;
	color: rgb(0,0,0);
}
.table{
	padding-bottom: 30px;
}
.table th{
	background-color: blue;
}
th, td{
	padding: 10px;
	text-align: center;
}
.popContents{
	padding: 30px;
}
.title{
	color: rgb(255,255,255);
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.hometeam{
	text-align: right;
	padding-right: 10px;
}
.awayteam{
	text-align: left;
	padding-left: 10px;
}
.blackbox{
	position: relative;
	color: rgb(220,220,220);
	background-color: rgba(0,0,0,0.7);
	border: 0px solid white;
	border-radius: 2px;
	padding: 5px;
	margin-bottom: 5px;
	}
.ivorybox{
	border: 1px solid white;
	border-radius: 5px;
}
.clickbox{
	border: 2px solid black;
}
.clicked{
	background-color: yellow;	
}
.selected{
	color: yellow;
}
.current_ladder{
	background-color: #ed9e62;	
}
