




#contentsWrap { width:100%; background:url(../images/sub_common/sub_bg.gif) no-repeat center top;  min-height:650px; }
#contents { padding-top:40px; position:relative;  }
#contents .subTitle { padding-bottom:30px;  }


.boardTable {  margin-bottom:30px;   width:100%; border-collapse:collapse;  background:url(../images/board/bar_bg.gif) no-repeat left top;  }
.boardTable thead th { height:50px; background:url(../images/board/bar_line.gif) no-repeat left top; color:#000; font-size:16px; }
.boardTable thead th:first-child { background:none;  }
.boardTable tbody td { text-align:center; padding:10px 20px; line-height:1.5;  border-bottom:1px solid #4f4011;  font-size:16px; color:#888; }
.boardTable tbody td a { color:#ffe670; }
.boardTable tbody td.viewContents { text-align:left; font-size:14px; color:#ffe670; }
.boardTable tbody td.writeField {  border:1px solid #4f4011;  background:#000;  }
.boardTable tbody td.writeFile { text-align:left;margin-top:20px;  border:1px solid #4f4011;  background:#000;  }
.boardTable tbody td.writeFile label { color:#ffe670; font-size:14px; width:10%;  }
.boardTable tbody td.writeFile input[type="file"] {background:#252525;  color:#fff; font-size:14px; width:90%;  }
.boardTable tbody #textarea { width:100%; overflow:auto;height:300px;   background:#000;color:#ffe670; border:0px;  }
.boardTable thead .titleWrite {  text-align:left;padding:0 20px; }
.boardTable thead .titleWrite label {color:#000; font-size:14px; width:80px; text-align:center;display:block; float:left;padding-top:3px;   }
.boardTable thead .titleWrite input[type="text"] {background:#252525;height:30px;   color:#fff; font-size:14px; width:870px;padding-left:10px;   float:left; border:0px;  }

.boardTable tbody .re { text-align:left; padding-left:150px;color:#fff;   }

.boardTable tbody .re a {color:#fff;     }



/*¸®ÇÃ*/
	
.boardTable tbody .replyWrite {  }
.boardTable tbody .replyWrite label {  float:left;text-align:left;  padding-top:20px;  display:block; height:60px;   font-size:14px;color:#ffe670;width:80px;   }
.boardTable tbody .replyWrite textarea#replayTextarea {float:left;  margin-right:20px; width:778px;height:80px; overflow-y:auto;  border:1px solid #4f4011; background:#252525;  font-size:14px;color:#ffe670;  }
.boardTable tbody .replyWrite .replayOk { float:left;  width:80px; height:80px; border:0px; font-size:14px; background:#e4bb15; cursor: pointer; border-radius: 3px;color:#000; }
.boardTable tbody .reply { padding-right:0px;   float:left;   }
.boardTable tbody .reply .id { float:left;text-align:left;  display:block;    font-size:14px;color:#ffe670;width:80px;   }
.boardTable tbody .reply .text {text-align:left;  margin-right:10px; width:748px;font-size:14px; color:#fff; float:left;  }
.boardTable tbody .reply .date { float:left; font-size:14px; color:#888;width:140px;   }
/*¸®ÇÃ*/

.iframeWrap {overflow: hidden;}
.iframeContents {margin-top: -70px;}


.width50 { width:50%;  }
.pagingSearchForm { width:100%; float:left;padding-bottom:30px;   }
.paging a { display:inline-block; vertical-align:top; margin:0 2.5px;   }
.paging a.num { font-size:16px; color:#888; padding:5px 8px 0px;   }
.paging a:hover { color:#ffe670;  }
.paging a.hover {  color:#ffe670;  text-decoration:underline;   }
.paging a.img { padding:0 5px;   }

.rightForm { float:left;   }
.rightForm .write { float:left; }
.rightForm .write a {display:block; border-radius: 3px;  margin-right:10px;  float:left; padding-top:8px; width:120px; height:32px; background:#e4bb15;text-align:center;  font-size:16px; color:#000;  }
.rightForm form { float:left; border-radius: 3px; border:1px solid #fff;    }
.rightForm form * { vertical-align:top;  }
.rightForm form .formBg {float:left; background:#fff;   }
.rightForm form select { float:left;   height:38px;width:75px;  border:0px;   font-size:16px; }
.rightForm form input { float:left; }
.rightForm form input[type="text"] {  float:left; width:125px; border:0px; font-size:16px; padding:1px 5px 0px;height:37px;  color:#000;  }
.rightForm form input[type="submit"] {  width:40px;float:left;  height:38px; border:0px; color:#000; font-size:16px;background:#b0b0b0;   }

.tCenter { text-align:center;}

button.btn {     display: inline-block; width:80px; height:30px; text-align:center; color:#000;padding-top:3px;  font-size:14px; border:0px; background:#e4bb15; cursor: pointer; border-radius: 3px; }
button.greyBtn {   background:#b8b8b8; }
button.pinkBtn {   background:#ed9e62; }


a.btn {     display: inline-block; width:80px; height:24px; text-align:center; color:#000;padding-top:6px;  font-size:14px; border:0px; background:#e4bb15; cursor: pointer; border-radius: 3px; }
a.greyBtn {   background:#b8b8b8; }
a.pinkBtn {   background:#ed9e62; }

a.sBtn { width:60px; height:24px; font-size: 12px; padding-top:5px;}



/*½Â¹«ÆÐ*/

.vsLeft { width:800px; float:left; margin-right:10px;  }
.userDataTable { margin-bottom:30px;  width:100%; border-collapse:collapse; background:url(../images/sub_common/bar_bg.gif) no-repeat left top; }
.sUserDataTable {background:url(../images/sub_common/bar_bg_s.gif) no-repeat left top;}
.userDataTable thead th { height:50px; background:url(../images/board/bar_line.gif) no-repeat left top; color:#000; font-size:16px; }
.userDataTable thead th:first-child { background:none;  }
.userDataTable tbody td {background:#252525; padding:10px 0px 5px; line-height:1.5; font-size:14px; color:#888;  border-bottom:2px solid #000; }
.userDataTable tbody .kind { text-align:left;   padding-bottom:10px;padding-left:20px; padding-right:20px;  border-bottom:1px solid #ffe670; color:#ffe670;font-size:18px;   } 
.userDataTable tbody .bettingContents { width:100%; float:left;  }
.userDataTable tbody .date {color:#fff;font-size:14px;float:left; margin:10px 0px 10px;   text-align:center; width:120px; padding:10px 20px;  } 
.userDataTable tbody .victory {float:left; width:230px;margin:2.5px 0px 2.5px; padding:2.5px 10px; border:1px solid #6b5a12;   color:#ffe670;font-size:14px;background:#000;   } 
.userDataTable tbody .victory .team { float:left;  } 
.userDataTable tbody .victory .distribution{float:right;    } 
.userDataTable tbody .draw { color:#ffe670; margin:10px;float:left;width:80px; padding:10px 20px;     font-size:14px;background:#000; text-align:center;   } 
.userDataTable tbody .lose {   float:left; width:230px;margin:10px 0px 10px; padding:10px 20px;  color:#ffe670;font-size:14px;background:#000;} 
.userDataTable tbody .lose .team { float:right;  } 
.userDataTable tbody .lose .distribution{float:left;    } 
.userDataTable tbody .state {   color:#fff;  padding:10px 20px;width:120px;margin:10px 0px 10px;   float:left;  font-size:14px;text-align:center;  } 
.userDataTable tbody .clicked { background:#c6562a;     } 

.sUserDataTable tbody .date { width:120px; }
.sUserDataTable tbody .victory { width:180px;  }
.sUserDataTable tbody .draw {width:20px;  }
.sUserDataTable tbody .lose {  width:180px;}
.sUserDataTable tbody .state {width:80px;  }



.userDataTable tbody .bettingContentsWrap { width:100%; float:left;margin-top:30px;border-top:1px solid #ffe670;    }
.userDataTable tbody .bettingContentsWrap .myBatting { border:1px solid #ffe670; float:left; width:998px;  }
.userDataTable tbody .bettingContentsWrap .myBatting div { background:#000;  }
.userDataTable tbody .bettingContentsWrap .myBatting div p { width:100%;  padding-bottom:10px; }
.userDataTable tbody .bettingContentsWrap .myBatting p strong {font-size:14px; font-weight:normal; color:#ffe670;   }
.userDataTable tbody .bettingContentsWrap .myBatting p span {font-size:14px; color:#fff;   }
.userDataTable tbody .bettingContentsWrap .myBatting .how {  float:left;padding:15px 20px 0px;  height:115px; width:159px; border-right:1px solid #332f16;  }
.userDataTable tbody .bettingContentsWrap .myBatting .how p strong { display:block;  } 
.userDataTable tbody .bettingContentsWrap .myBatting .what { width:259px; float:left; padding:30px 20px 0px;height:100px;  border-right:1px solid #332f16;  }
.userDataTable tbody .bettingContentsWrap .myBatting .what p strong { float:left;  }
.userDataTable tbody .bettingContentsWrap .myBatting .what p span {  float:right;font-weight:bold; font-size:16px; }
.userDataTable tbody .bettingContentsWrap .myBatting .money {  width:259px; float:left; padding:30px 20px 0px;height:100px; border-right:1px solid #332f16;   }
.userDataTable tbody .bettingContentsWrap .myBatting .money p strong { float:left;  }
.userDataTable tbody .bettingContentsWrap .myBatting .money p span {  float:right;font-weight:bold; font-size:16px; }
.userDataTable tbody .bettingContentsWrap .myBatting div p { width:100%; float:left; }
.userDataTable tbody .bettingContentsWrap .buttonWrap { padding-top:15px; float:left; width:198px;  text-align:center; height:115px; }
.userDataTable tbody .bettingContentsWrap .buttonWrap button { margin-bottom:10px;  width:120px; height:40px;  }



.vsRight { width:190px; float:left;position:relative; position:relative;   }
.vsRight #sidebar { width:188px; border:1px solid #444;float:left; padding-bottom:10px; position:absolute; top:0px;  }
.vsRight #sidebar h3 {  }
.vsRight #sidebar dl  { margin-bottom:20px; width:158px; margin-left:15px; margin-right:15px; border:1px solid #252525;  }
.vsRight #sidebar dl dt {text-align:center; background:#252525; color:#fff; padding:5px 0px;  }
.vsRight #sidebar dl dd { text-align:right; color:#83650b; font-size:20px; font-weight:bold; padding-right:10px; width:148px;  }
.vsRight #sidebar dl.all  { margin-top:30px; margin-bottom:0px;   }
.vsRight #sidebar dl.all dt {background:#775b08;  }
.vsRight #sidebar dl.all dd {text-align:right; color:#ffe670; font-size:20px; font-weight:bold;  padding:0px;  width:158px;  }
.vsRight #sidebar dl.all dd input { width:100%; background:#000; color:#83650b;border:0px; font-size:16px; padding-right:10px; width:148px; font-weight:bold;   text-align:right; }
.vsRight #sidebar .max { border:0px; display:block; width:160px; height:30px; padding:0px; margin:0px;margin-left:15px; margin-right:15px;  margin-bottom:20px;  }

.vsRight #sidebar .moneyGo { border:0px;  display:block;width:167px; height:60px; padding:0px; margin:0px;margin-left:10px; margin-right:10px;   }
.vsRight #sidebar .footCon { width:178px; padding-left:10px; padding-right:10px;  padding-top:10px; padding-bottom:10px;  }
.vsRight #sidebar .footCon td { padding:5px 0px; border-bottom:1px solid #444;  }
.vsRight #sidebar .footCon .distribution {  width: 65px; text-align:center; color:#ffe670; font-size:20px; font-weight:bold;}
.vsRight #sidebar .footCon .team  { width: 60px; text-align:right;padding-right:10px;  font-size:14px; font-weight:bold;}
.vsRight #sidebar .footCon .team span {display:block; color:#888;line-height:1.2;  }
.vsRight #sidebar .footCon .team span.check { color:#ffe670; text-decoration:underline;   }

.vsRight #sidebar .footCon .del a {display:block;   padding-top:5px; }

/*ÃæÀü*/

.textBox { width:918px; background:#000; border:1px solid #ffe670;padding:40px; float:left;  }
.textBox .charge .topText { padding-bottom:20px;  }  
.textBox .charge .topText p { font-size:16px; color:#ffe670; padding-bottom:10px;  }  
.textBox .charge .allMoney { margin-bottom:10px; padding:0px 30px; width:858px; height:80px; background:#252525;  }
.textBox .charge .allMoney .title {float:left; padding-top:25px; font-size:20px; font-weight:bold; color:#ffe670;  }
.textBox .charge .allMoney .money  {padding-top:10px; float:right; font-size:20px; font-weight:bold; color:#ffe670;  }
.textBox .charge .allMoney .money strong {font-size:40px; }
.textBox .charge .chargeMoney {  margin-bottom:10px;  padding:0px 30px; width:858px; height:80px; background:#252525;  }
.textBox .charge .chargeMoney .title {float:left; padding-top:25px;  font-size:20px; padding-right:40px; font-weight:bold; color:#ffe670; }
.textBox .charge .chargeMoney .money  {margin-right:50px; margin-top:15px;text-align:right;  width:240px;float:left;padding-left:10px;height:40px; padding-top:10px;    padding-right:20px;background:#000; font-size:20px; color:#ffe670;  }
.textBox .charge .chargeMoney .money  input { border:0px; width:220px;height:30px;  background:#000; font-size:34px; color:#ffe670; text-align:right; }
.textBox .charge .chargeMoney .buttonWrap { float:left; padding-top:20px;   }
.textBox .charge .chargeMoney .buttonWrap button { width:100px; height:40px;  }
.textBox .charge .bankWrap  {  margin-bottom:20px;  padding:0px 30px; width:858px; height:50px; background:#252525;    }
.textBox .charge .bankWrap  p { font-size:16px;color:#ffe670; padding-top:15px; }
.textBox .charge .request { text-align:center;  }
.textBox .charge .request button {width:300px; height:60px; font-size:30px; font-weight:bold; color:#000; }


.chargeExchangeWrap {} 
.chargeExchangeWrap h1 {  font-size:30px; font-weight:bold; color:#ffe670;padding-bottom:20px;  } 
.chargeTable {margin-bottom:30px;    width:100%; border-collapse:collapse; background:url(../images/sub_common/bar_bg.gif) no-repeat left top; } 
.chargeTable thead th { height:50px; background:url(../images/board/bar_line.gif) no-repeat left top; color:#000; font-size:16px; }
.chargeTable thead th:first-child { background:none;  }
.chargeTable tbody td {text-align:center; background:#252525; padding:10px 0px 5px; line-height:1.5; font-size:16px; color:#fff;  border-bottom:1px solid #444; }
.chargeTable tbody td .ing { font-weight:bold; color:#ffe670;  }
.chargeTable tbody td.money { font-size:30px; font-weight:bold; color:#ffe670;  }

.chargeTable tbody tr:hover  td { background: #c6562a;  }
.chargeTable tbody .clicked td {     background: #c6562a; }



.myInfoWrap { width:100%; float:left;  }
.myInfoWrap .myInfo{ width:100%; float:left;background:url(../images/sub_common/profile_img.png) no-repeat left bottom;  min-height:360px;margin-bottom:20px;   }
.myInfoWrap .myInfo h1 {  font-size:30px; font-weight:bold; color:#ffe670; float:left;  }
.myInfoWrap .myInfo .myContents { margin-left:285px;  }
.myInfoWrap .infoTable { width:100%;  }
.myInfoWrap .infoTable tbody th { padding:15px 10px 20px 10px; border-bottom:10px solid #000; color:#ffe670; font-size:16px; background:#252525;  }
.myInfoWrap .infoTable tbody td { padding:15px 10px 20px 10px; border-bottom:10px solid #000; color:#fff; font-size:16px; background:#252525;  }
.myInfoWrap h2 { font-size:20px; font-weight:bold; color:#ffe670;margin-bottom:10px;  }

.message {padding-top:30px; clear:both; position:relative;  }
.message h1 { font-size:30px; font-weight:bold; color:#ffe670;margin-bottom:10px; }
.message .delBtn { position:absolute; top:40px; right:0px;  }
.messageTable {margin-bottom:30px;    width:100%; border-collapse:collapse; background:url(../images/sub_common/bar_bg.gif) no-repeat left top; } 
.messageTable thead th { height:50px; background:url(../images/board/bar_line.gif) no-repeat left top; color:#000; font-size:16px; }
.messageTable thead th:first-child { background:none;  }
.messageTable tbody td {text-align:center; background:#252525; padding:20px 0px 15px; line-height:1.5; font-size:16px; color:#fff;  border-bottom:1px solid #444; }
.messageTable tbody td .ing { font-weight:bold; color:#ffe670;  }
