{% extends "layout.html" %}
{% block contents %}
<div class="for_mid">
</div>
<div class="col-sm-12">
	<form class="form-inline" role="form" method="post">
		{{ form.hidden_tag() }}
		{% from "_form_field_addgame.html" import render_field %}
		{% for field in form if field.widget.input_type != 'hidden' %}
		{{ render_field(field, class="form-control") }}
		{% endfor %}

		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-3">
				<button type="submit" class="btn btn-primary float-right col-sm-12">가입신청</button>
			</div>
			<div class="col-sm-3">
				<a href='{{url_for('main')}}'class="btn btn-default col-sm-12">뒤로가기</a>
			</div>
		</div>
	</form>
</div>
{% endblock %}


