{% extends "layout.html" %}
{% block contents %}
<div class="title">
	<h3>가입 승인 대기자 </h3>
</div>
<div class="table_area">
	<table class="table">
		<thead>
		<tr>
			<td width="10%">id 고유값</th>
			<td width="5%">계정</th>
			<td width="7%">연락처</th>
			<td width="30%">거래 은행</th>
			<td width="5%">계좌 번호</th>
			<td width="30%">가입 신청일</th>
		</tr>
		</thead>
		<tbody>
			{% if userlist %}
			{% for user in userlist %}
			<tr class="" id="user_{{ user.id }}">
				<td>{{ user.id }}</td>
				<td><strong>{{ user.account }}</strong></a></td>
				<td>{{ user.phone }}</td>
				<td>{{ user.bank }}</td>
				<td>{{ user.bank_account }}</td>
				<td><small>{{ user.join_date.strftime('%Y-%m-%d %H:%m:%S' ) }}</small></td>
			</tr>
			{% endfor %}
			{% endif %}
		</tbody>
	</table>
</div>

{% endblock %}



