{% extends "layout_admin.html" %}
{% block contents %}
<h1>국가 추가</h1>
<table class="dataTable tableStyle01">
	<form method="post" role="form">
	<tr>
		<th>국가 추가</th>
		<td><input type="text" name="nation" class="form-control"></td>
		<th>등록</th>
		<td><button type="submit" class="btn mBtn">등록</button></td>
	</tr>
	</form>	
</table>
<div class="relativeWrap">
<p class="topBtnWrap">
<button class="btn mBtn nation_all_modify">선택수정</button>
<button class="btn mBtn greyBtn sp_na_deleteall">선택삭제</button>
</p>
<h1>국가 리스트</h1>
<table class="dataTable">
	<thead>
		<th width="1%">선택</th>
		<th>국가명</th>
		<th width="10%">정렬</th>
		<th>수정</th>
		<th>삭제</th>
	</tr>
	</thead>
	<tbody>
		{% if nationlist %}
		{% for nation in nationlist %}
		<tr class="select" id="{{ nation.id }}">
			<td> <input type="checkbox" name="select"></td>
			<td><input type="text" name="nation_{{nation.id}}" class="form-control" value="{{ nation.name }}"></td>
			<td><input type="text" name="sort_{{nation.id}}" class="form-control" value="{{ nation.sort }}"></td>
			<td><button class="btn mBtn nation_modify">수정</button></td>
			<td><button class="btn mBtn greyBtn nation_delete">삭제</button></td>
		</tr>
		{% endfor %}
		{% else %}
		회원이 없습니다.
		{% endif %}
	</tbody>
</table>
</div>
{% endblock %}







