{% extends "layout_admin.html" %}
{% block contents %}
<div class="relativeWrap">
	<h1>{{ladderlist[1].ladder.date}} 사다리 게임 목록</h1>
	<p class="topBtnWrap">
	<button class="btn mBtn pinkBtn start_all">전체개시</button>
	<button class="btn mBtn pinkBtn end_all">전체종료</button>
	<button class="btn sBtn pinkBtn select_all">전체선택</button>
	<button class="btn sBtn ladder_detail_all_apply">선택적용</button>
	</p>

	<table class="dataTable tableStyle01">
		<thead>
			<th width="20%">선택</th>
			<th width="40%">회차</th>
			<th>상태</th>
			<th>결과</th>
		</thead>
		<tbody>
		{% if ladderlist %}
		{% for ladder in ladderlist %}
		<tr class="select" id="{{ ladder.id }}">
			<td> <input type="checkbox" name="select"></td>
			<td> <strong>{{ladder.number}}회차</strong></td>
			<td>
				<select class="form-control" name="state_{{ladder.id}}">
					<option value="0" {% if ladder.state == 0%}selected{%endif%}>등록</option>
					<option value="1" {% if ladder.state == 1%}selected{%endif%}>개시</option>
					<option value="2" {% if ladder.state == 2%}selected{%endif%}>배팅</option>
					<option value="3" {% if ladder.state == 3%}selected{%endif%}>종료</option>
				</select>
			</td>
			<td> 
				<select class="form-control" name="win_{{ladder.id}}">
					<option value="0" {% if ladder.win == 0 %}selected{%endif%}>미정</option>
					<option value="1" {% if ladder.win == 1 %}selected{%endif%}>홀</option>
					<option value="-1" {% if ladder.win == -1 %}selected{%endif%}>짝</option>
				</select>
			</td>
		</tr>
		{% endfor %}
		{% else %}
		{% endif %}
		</tbody>
	</table>

</div>
{% endblock %}


