{% extends "layout_admin.html" %}
{% block contents %}
<h1>경기 등록</h1>
<form method="post" role="form" name="">
	<table class="dataTable tableStyle01">
		<tr>
			<th width="10%">경기일자</th>
			<th width="10%">경기시간</th>
			<th width="45%">리그명</th>
			<th>경기수</th>
			<th>경기생성</th>
			<th>등록/취소</th>
		</tr>
		<tr>
			<td><input type="text" name="date_first" class="form-control" placeholder="ex)15-07-05"></td>
			<td><input type="text" name="date_second" class="form-control" placeholder="ex)15:30"></td>
			<td>
				<select class="form-control"  name="league">
					{% if leaguelist %}
					{% for league in leaguelist %}
					<option value="{{league.id}}">{{league.name}}</option>
					{% endfor %}
					{% endif %}
				</select>
			</td>
			<td>
				<select class="form-control"  name="game">
					<option value="0">경기수</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
			</td>
			<td>
				<button type="button" id="waitgamebtn" class="btn sBtn">생성</button>
			</td>
			<td>
				<button type="submit" id="addgamebtn" class="btn sBtn">저장</button>
				<button type="button" id="emptygamebtn" class="btn sBtn greyBtn">취소</button>
			</td>
		</tr>
	</table>
	<table class="dataTable tableStyle01">
		<thead>
			<th width="15%">경기날짜</th>
			<th width="10%">경기시간</th>
			<th width="40%">리그명</th>
			<th>홈팀</th>
			<th>원정팀</th>
		</thead>
		<tbody class="addlist">
		</tbody>
	</table>
</form>
<div class="relativeWrap">
	<h1>경기 목록</h1>
	<p class="topBtnWrap">
	<button class="btn sBtn pinkBtn select_all">전체선택</button>
	<button class="btn sBtn game_all_apply">선택적용</button>
	<button class="btn sBtn greyBtn game_deleteall">선택삭제</button>
	</p>

	<table class="dataTable tableStyle01">
		<thead>
			<th width="1%">선택</th>
			<th width="5%">종목</th>
			<th width="20%">리그명</th>
			<th width="10%">경기날짜</th>
			<th width="20%">승(홈팀)</th>
			<th width="5%">승</th>
			<th width="5%">무</th>
			<th width="5%">패</th>
			<th width="20%">패(원정팀)</th>
		</thead>
		<tbody>
		{% if gamelist %}
		{% for game in gamelist %}
		<tr class="select" id="{{ game.id }}">
			<td> <input type="checkbox" name="select"></td>
			<td> {{game.league_detail.league.sport}}</td>
			<td> {{game.league_detail.league.name}} {{game.league_detail.name}}</td>
			<td>{{ game.date.strftime('%Y-%m-%d %H:%M') }}</td>
			<td>{{ game.home }} {{game.league_detail.home}}</td>
			<td><input type="text" name="home_rate_{{game.id}}" class="form-control" value="{{ game.home_rate }}" maxlength="5"></td>
			<td><input type="text" name="draw_rate_{{game.id}}" class="form-control" value="{{ game.draw_rate }}" maxlength="5"></td>
			<td><input type="text" name="away_rate_{{game.id}}" class="form-control" value="{{ game.away_rate }}" maxlength="5"></td>
			<td>{{ game.away }} {{game.league_detail.away}}</td>
		</tr>
		{% endfor %}
		{% else %}
		{% endif %}
		</tbody>
	</table>

</div>
{% endblock %}









