{% extends "layout_admin.html" %}
{% block contents %}
<div class="relativeWrap">
<p class="topBtnWrap">
<a href="{{url_for('admin_user_info')}}" class="btn mBtn pinkBtn">전체보기</a>
</p>
<h1>회원검색</h1>
<table class="dataTable tableStyle01">
	<form method="post" role="form" name="searchform" onsubmit="return validateForm()">
	<tr>
		<th>검색 분류</th>
		<td>
			<select class="form-control" id="searchtype" name="searchtype">
				<option value="0">아이디</option>
				<option value="1">닉네임</option>
				<option value="2">아이피</option>
			</select>
		</td>
		<th>검색어</th>
		<td class="input_space"><input type="text" name="searchtext" class="form-control"></td>
		<th>회원레벨</th>
		<td>
			<select class="form-control" name="searchlevel">
				<option value="0">모든레벨</option>
				<option value="1">레벨1</option>
				<option value="2">레벨2</option>
				<option value="3">레벨3</option>
				<option value="4">레벨4</option>
				<option value="5">레벨5</option>
				<option value="6">레벨6</option>
				<option value="7">레벨7</option>
			</select>
		</td>
		<td><button class="btn btn-default search">검색</button></td>
	</tr>
	</form>	
</table>
</div>
<div class="relativeWrap">
<p class="topBtnWrap">
<button class="btn mBtn pinkBtn reload">새로고침</button>
<h1>일반 회원 관리</h1> 
</p>
	<table class="dataTable tableStyle01">
		<thead>
			<th >아이디/닉네임</th>
			<th>상태</th>
			<th>레벨</th>
			<th>배팅수</th>
			<th>보유금액</th>
			<th>충전금액</th>
			<th>배팅금액</th>
			<th>등록일</th>
			<th>등록 아이피</th>
			<th>최근 접속</th>
			<th>상세정보/쪽지</th>
		</tr>
		</thead>
		<tbody>
			{% if userlist %}
			{% for user in userlist %}
			<tr class="" id="{{ user.id }}">
				<td><strong>{{ user.account }}/{{user.nickname}}</strong></td>
				<td>{%if user.state == 0 %}사용중{%else%}정지{%endif%}</a></td>
				<td>{{ user.level }}</td>
				<td>{{ user.bet_cnt }}</td>
				<td>{{ user.money_crt }}</td>
				<td>{{ user.money_charge }}</td>
				<td>{{ user.money_bet }}</td>
				<td>{{ user.join_date.strftime('%Y-%m-%d %H:%m') }}</td>
				<td>{{ user.ip }}</td>
				<td><button class="btn mBtn greyBtn chk_login">확인</button></td>
				<td><button class="btn mBtn detail">보기</button></td>
			</tr>
			{% endfor %}
			{% else %}
			회원이 없습니다.
			{% endif %}
		</tbody>
	</table>
</div>
{% endblock %}




