{% extends "layout.html" %}
{% block contents %}
<div class="col-sm-12 col-md-offset-1 col-md-10  mypage_title mypage_underline">
	<h2><img src="{{ url_for('static', filename='images/ass_ico/pencil-paper.png') }}"> 튜토리얼 - 멤버</h2>
</div>
<div class="col-md-offset-1 col-md-10 about_img"><img src="{{ url_for('static', filename='images/member/1.jpg') }}"></div>
<div class="col-md-offset-1 col-md-10 about_img"><img src="{{ url_for('static', filename='images/member/2.jpg') }}"></div>
<div class="col-md-offset-1 col-md-10 about_img"><img src="{{ url_for('static', filename='images/member/3.jpg') }}"></div>
<div class="col-md-offset-1 col-md-10 about_img"><img src="{{ url_for('static', filename='images/member/4.jpg') }}"></div>
<div class="col-md-offset-1 col-md-10 about_img"><img src="{{ url_for('static', filename='images/member/5.jpg') }}"></div>
<div class="col-md-offset-1 col-md-10 about_img"><img src="{{ url_for('static', filename='images/member/6.jpg') }}"></div>
<div class="col-md-offset-1 col-md-10 about_img"><img src="{{ url_for('static', filename='images/member/7.jpg') }}"></div>
<div class="col-md-offset-1 col-md-10 about_img"><img src="{{ url_for('static', filename='images/member/8.jpg') }}"></div>
{% endblock %}

