{% extends "layout.html" %}

{% block contents %}
<div class="col-sm-12 col-lg-offset-1 col-lg-10">
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
			<tr>
				<th width="20%">글번호</th>
				<th width="50%">제목</th>
				<th width="15%">댓글수</th>
				<th width="15%">작성일</th>
			</tr>
			</thead>
			<tbody>
			{% if context.article_list %}
			{% for article in context.article_list %}
			<tr class="" id="article_{{ article.id }}">
				<td>{{ article.id }}</td>
				<td><a class="title" href="{{ url_for('article_detail', id=article.id) }}"><strong>{{ article.title }}</strong></a></td>
				<td>{{ article.nofc }}</td>
				<td><small>{{ article.date_created.strftime('%Y-%m-%d' ) }}</small></td>
			</tr>
			{% endfor %}
			{% endif %}
			</tbody>
		</table>
	</div>
	
	<div class="row">
		<div class="col-sm-12">
			<a href="{{ url_for('article_create') }}" class="btn btn-default">글쓰기</a>
			<div class="float-right">
				<form role="form" method="get" class="form-inline" action="{{ url_for('article_search') }}">
					<input type="text" class="form-control" placeholder="검색어 입력" name="search"></input>
					<button type="submit" class="align-right btn btn-default">검색</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

