{% extends "base.html" %}

{% block layout %}
<div class="container">
	{% block navbar %}
	{% include "navbar_admin.html" %}
	{% endblock %}
</div> 
<div id="contents" class="container">
	{% block contents %}{% endblock %}
</div>
<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-md-offset-1 col-md-6">사업자 등록 주소지 등등 문구들이 올 자리</div>
			<div class="col-sm-3 col-md-offset-1 col-md-2 align-right">간단한 문구.<br><strong>© ?????? corp.</strong></div>
		</div>
	</div>
</div> 
{% endblock %}

