<!DOCTYPE html>
<html lang="ko">
 <head>
    <meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=edge">
  <title>회원 로그인</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/common.css')}}" />
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}" />

 </head>

 <body>
 		<div class="memberWrap">
			<div class="container">
				<div class="mLogin member">
					<h1><img src="{{ url_for('static', filename='images/login_join/tit_login.png') }}"  alt="" /></h1>
					<form method="post" role="form" onsubmit="return validateLogin()">
						<fieldset>
							<legend></legend>
							{% if error %}<div class="error">{{error}}</div>{% endif %}
							<input type="text" name="account" maxlength="20" placeholder="아이디"/>
							<input type="password" name="password" maxlength="20"  placeholder="비밀번호"/>
						
							<p class="formBtn"><input type="submit" />
							<a href="{{ url_for('signup') }}"><img src="{{ url_for('static', filename='images/login_join/btn_join.gif') }}" alt="회원가입" /></a></p>

						</fieldset>	
					</form>
				</div><!-- mLogin -->
			</div>
		</div><!-- loginWrap -->
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.placeholder.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/layout.js') }}"></script> 
 </body>
</html>
