<!DOCTYPE html>
<html lang="ko">
<head>
<title>관리자 로그인</title>
<meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/common.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}" />

</head>

<body>
<div class="memberWrap">
	<div class="container">
		<div class="aLogin member">
			<h1><img src="{{ url_for('static', filename='images/admin/tit_admin.png') }}"  alt="" /></h1>
			<form method="post" role="form">
				<fieldset>
					<legend></legend>
					<input type="text" name="account" />
					<input type="password" name="password" />		
					<p class="formBtn"><input  value="로그인" type="submit" /></p>
				</fieldset>	
			</form>
		</div><!-- mLogin -->
	</div>
</div><!-- loginWrap -->
<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/layout.js') }}"></script> 
</body>
</html>
