{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div id="my_message" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			{% for category, message in messages %}
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">서버 메세지</h4>
			</div>
			<div class="modal-body">
				{{ message|safe }}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endif %}
{% endwith %}
