<nav class="" role="navigation">
<div id="headerWrap">
	<div id="header" class="container">
		<div class="topUtilWrap">
			<p class="home"><a href="{{ url_for('user_main') }}"><img src="{{ url_for('static', filename='images/main/btn_home.gif') }}" alt="home"/></a></p>
			<p class="user">{{ g.nick }} 님 방문을 환영 합니다. </p>
			<div class="topUtilBg1">
				<div class="topUtilBg2">
					<ul class="topUtil">
						<li class="first"><a href="{{ url_for('user_charge') }}">충전</a></li>
						<li><a href="{{ url_for('user_exchange') }}">환전</a></li>
						<li><a href="{{ url_for('user_charge_history') }}">충전내역</a></li>
						<li><a href="{{ url_for('user_exchange_history') }}">환전내역</a></li>
						<li class="my"><a href="{{ url_for('user_mypage') }}">내정보/쪽지</a> <img src="{{ url_for('static', filename='images/main/icon_new.gif') }}"  alt="new" /></li>
						<li><a href="{{ url_for('signout') }}">로그아웃</a></li>
					</ul>
				</div>
			</div><!-- topUtilBg -->
		</div><!-- topUtilWrap -->
		<ul id="uGnb">
			<li {%if menu=="cross" %}class="hover"{% endif %}><a href="{{url_for('user_cross')}}">승무패</a></li>
			<li {%if menu=="handicap" %}class="hover"{% endif %}><a href="{{url_for('user_handicap')}}">핸디캡</a></li>
			<li {%if menu=="special" %}class="hover"{% endif %}><a href="{{url_for('user_special')}}">스페셜</a></li>
			<li {%if menu=="ladder" %}class="hover"{% endif %}><a href="{{ url_for('user_named_ladder') }}">사다리</a></li>
			<li><a href="#">달팽이</a></li>
			<li {%if menu=="result" %}class="hover"{% endif %}><a href="{{ url_for('user_result') }}">경기결과</a></li>
			<li {%if menu=="bet_history" %}class="hover"{% endif %}><a href="{{ url_for('user_betting_history') }}">배팅내역</a></li>
			<li><a href="#">고객센터</a></li>
			<li {%if menu=="article" %}class="hover"{% endif %}><a href="{{ url_for('article_list') }}">게시판</a></li>
		</ul><!-- uGnb -->
	</div><!-- header -->
</div><!-- headerWrap -->
</nav>

