<div id="headerWrap">
		<div id="header" class="container">
			<ul id="gnb">
				<li {% if menu=='league'%}class="hover"{%endif%}><a href="#">리그관리</a>
					<ul class="hiddenX">
						<li><a href="{{url_for('admin_league_sport')}}">종목관리</a></li>
						<li><a href="{{url_for('admin_league_nation')}}">국가관리</a></li>
						<li><a href="{{url_for('admin_league_league')}}">리그관리</a></li>
						<li><a href="{{url_for('admin_league_detail')}}">세부리그관리</a></li>
					</ul>
				</li>
				<li {% if menu=='register'%}class="hover"{%endif%}><a href="#">경기등록/개시</a>
					<ul class="hiddenX">
						<li><a href="{{url_for('admin_register_game')}}">경기등록</a></li>
						<li><a href="{{url_for('admin_register_cross')}}">승무패관리</a></li>
						<li><a href="{{url_for('admin_register_handicap')}}">핸디캡관리</a></li>
						<li><a href="{{url_for('admin_register_special')}}">스페셜관리</a></li>
						<li><a href="{{url_for('admin_register_ladder')}}">사다리관리</a></li>
					</ul>
				</li>
				<li {% if menu=='finish'%}class="hover"{%endif%}><a href="#">경기마감/복원</a>
					<ul class="hiddenX">
						<li><a href="{{url_for('admin_finish_cross')}}">승무패마감</a></li>
						<li><a href="{{url_for('admin_finish_handicap')}}">핸디캡마감</a></li>
						<li><a href="{{url_for('admin_finish_special')}}">스페셜마감</a></li>
						<li><a href="{{url_for('admin_finish_ladder')}}">사다리마감</a></li>
						<li><a href="{{url_for('admin_finish_restore')}}">마감경기복원</a></li>
					</ul>
				</li>
				<li {% if menu=='user'%}class="hover"{%endif%}><a href="#">회원관리</a>
					<ul class="hiddenX">
						<li><a href="{{url_for('admin_user_wait')}}">가입신청관리</a></li>
						<li><a href="{{url_for('admin_user_info')}}">일반회원관리</a></li>
						<li><a href="{{url_for('admin_user_stop')}}">정지회원관리</a></li>
						<li><a href="{{url_for('admin_user_admin')}}">관리자회원</a></li>
						<li><a href="{{url_for('admin_user_ip')}}">아이피관리</a></li>
					</ul>
				</li>
				<li {% if menu=='bank'%}class="hover"{%endif%}><a href="#">입출금관리</a>
					<ul class="hiddenX">
						<li><a href="{{ url_for('admin_bank_charge') }}">충전신청관리</a></li>
						<li><a href="{{ url_for('admin_bank_charge_complete') }}">충전완료내역</a></li>
						<li><a href="{{ url_for('admin_bank_exchange') }}">환전신청관리</a></li>
						<li><a href="{{ url_for('admin_bank_exchange_complete') }}">환전완료내역</a></li>
						<li><a href="{{ url_for('admin_bank_account') }}">입금계좌관리</a></li>
					</ul>
				</li>
				<li><a href="#">정산관리</a>
					<ul class="hiddenX">
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
					</ul>
				</li>
				<li><a href="#">배팅관리 </a>
					<ul class="hiddenX">
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
					</ul>
				</li>
				<li><a href="#">지점/지사관리</a>
					<ul class="hiddenX">
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
					</ul>
				</li>
				<li><a href="#">고객센터</a>
					<ul class="hiddenX">
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
					</ul>
				</li>
				<li {% if menu=='setting'%}class="hover"{%endif%}><a href="#">관리자설정</a>
					<ul class="hiddenX">
						<li><a href="{{url_for('admin_setting')}}">스포츠베팅 금액제한</a></li>
						<li><a href="{{url_for('admin_setting_named')}}">네임드게임 금액제한</a></li>
						<li><a href="#">기타설정</a></li>
						<li><a href="#"></a></li>
					</ul>
				</li>
			</ul><!-- gnb -->
			<p class="aHome"><a href="#"><img src="{{ url_for('static', filename='images/admin/btn_home.gif') }}" width="50" height="50" alt="È¨" /></a></p>
			<p class="logOut"><a href="{{ url_for('signout') }}">로그아웃</a></p>
		</div><!-- header -->
	</div><!-- headerWrap -->

