<nav class="" role="navigation">
<div id="headerWrap">
	<div id="header" class="container">
		<div class="topUtilWrap">
			<p class="home"><a href="{{ url_for('user_main') }}">HOME</a></p>
			<p class="user">{{ g.nick }} 님 방문을 환영 합니다. </p>
			<ul class="topUtil">
				<li><a href="{{ url_for('user_charge') }}">충전</a></li>
				<li><a href="#">환전</a></li>
				<li><a href="{{ url_for('user_charge_history') }}">충전/환전내역</a></li>
				<li><a href="{{ url_for('user_mypage') }}">내정보</a></li>
			</ul>
			<p class="logOut"><a href="{{ url_for('signout') }}">로그아웃</a></p>
		</div><!-- topUtilWrap -->
		<ul id="uGnb">
			<li {%if menu=="cross" %}class="hover"{% endif %}><a href="{{url_for('user_cross')}}">승무패</a></li>
			<li><a href="#">핸디캡</a></li>
			<li><a href="#">스페셜</a></li>
			<li {%if menu=="ladder" %}class="hover"{% endif %}><a href="{{ url_for('user_named_ladder') }}">사다리</a></li>
			<li><a href="#">달팽이</a></li>
			<li><a href="#">경기결과</a></li>
			<li {%if menu=="bet_history" %}class="hover"{% endif %}><a href="{{ url_for('user_betting_history') }}">배팅내역</a></li>
			<li><a href="#">고객센터</a></li>
			<li {%if menu=="article" %}class="hover"{% endif %}><a href="{{ url_for('article_list') }}">게시판</a></li>
		</ul><!-- uGnb -->
	</div><!-- header -->
</div><!-- headerWrap -->
</nav>

