<!DOCTYPE html>
<html lang="ko">
 <head>
  <title>회원가입</title>
    <meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/common.css')}}" />
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}" />

 </head>

 <body>
 		<div class="memberWrap">
			<div class="container">
				<div class="joinForm member">
					<h1><img src="{{ url_for('static', filename='images/login_join/tit_join.png') }}"  alt="" /></h1>
					<form method="post" role="form" onsubmit="return validateSignup()">
						<fieldset>
							<legend></legend>
							<input type="text" name="account" placeholder="아이디"/>
							<input type="password" name="password" placeholder="비밀번호"/>
							<input type="password" name="password_confirm" placeholder="비밀번호확인"/>
							<input type="text" name="nickname" placeholder="닉네임"/>
							<input type="text" name="phone" placeholder="전화번호"/>
							<input type="text" name="bank" placeholder="거래은행"/>
							<input type="text" name="bank_account" placeholder="계좌번호"/>
							<input type="text" name="bank_name" placeholder="예금주"/>
							<input type="text" name="bank_password" placeholder="출금비밀번호"/>
							<input type="text" name="rec_person" placeholder="추천인"/>
						
							<p class="formBtn"><input type="submit" />
							<a href="{{ url_for('main') }}"><img src="{{ url_for('static', filename='images/login_join/btn_back.gif') }}" alt="" /></a></p>

						</fieldset>	
					</form>
				</div><!-- mLogin -->
			</div>
		</div><!-- loginWrap -->
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.placeholder.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/layout.js') }}"></script> 
 </body>
</html>


