{% extends "layout_main.html" %}

{% block contents %}
<p class="subTitle"><img src="{{url_for('static', filename='images/sub_common/tit09.gif') }}" alt="게시판" /></p>
<h1>게시물 작성</h1>	
<div>작성자: {{user.nickname}}</div>

<form role="form" method="post" class="form-horizontal">
	{{ form.hidden_tag() }}
	<div class="title">{{ form.title(placeholder=form.title.description.placeholder) }}</div>
	<div class="content">{{ form.content(placeholder=form.content.description.placeholder) }}</div>
	<input type="hidden" name="uid" value="{{user.id}}">

	<button type="submit" class="btn">글 등록</button>
</form>
{% endblock %}
