{% extends "layout_main.html" %}

{% block contents %}
<p class="subTitle"><img src="{{url_for('static', filename='images/sub_common/tit09.gif') }}" alt="게시판" /></p>

<form role="form" method="post" class="form-horizontal">
	<table class="boardTable">
		<colgroup>
			<col width="100%" />
		</colgroup>
		<thead>
			<tr>
				<th class="titleWrite">	
					<label for="title">제 목</label>
					<input type="text" id="title" name="title" class="form-control" placeholder="제목을 입력하세요"/>
				</th>
			</tr>
		</thead>
		<tbody>
		<tr>
			<td><span class="viewInfo">작성자 | {{user.nickname}}</span></td>
		</tr>
		<tr>
			<td class="writeField">
				<textarea id="textarea" name="content" rows="14" cols="78" placeholder="내용을 입력하세요"></textarea>
			</td>
		</tr>
		<tr>
			<td class="writeFile">
				<label for="addFile">첨부파일</label>
				<input type="file" id="addFile" />
			</td>
		</tr>	
		</tbody>
	</table><!-- boardTable -->		
	<p class="tCenter"><button type="submit" class="btn">등록하기</button><a href="{{ url_for('article_list') }}" class="btn greyBtn">목록보기</a></p>
</form>
<p>&nbsp;</p>

{% endblock %}
