{% extends "layout_main.html" %}

{% block contents %}
<h3> 제목:{{ article.title }} </h3>
<p class="subTitle"><img src="{{url_for('static', filename='images/sub_common/tit09.gif') }}" alt="게시판" /></p>
<table class="boardTable">
	<thead>
		<tr>
			<th>{{ article.title }}</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td><span class="viewInfo">작성자 | {{ article.user.nickname }} &nbsp;&nbsp;&nbsp; 작성일 | {{article.date_created.strftime('%Y.%m.%d %H:%M')}}</span></td>
	</tr>
	<tr>
		<td class="viewContents">
			{{ article.content|safe|nl2br }}
		</td>
	</tr>				
	</tbody>
</table><!-- boardTable -->		
<p class="tCenter">
<a class="btn" href="{{ url_for('article_update', id=article.id) }}">수정</a> 
{% if g.id == article.user_id %}
<button class="btn pinkBtn" id="article_delete">삭제하기</button> 
{% endif %}
<a class="btn greyBtn" href="{{ url_for('article_list') }}">목록보기</a> 
</p>
<p>&nbsp;</p>



<div class="article_body">
	<div class="col-sm-12">내용:  </div>
	<!-- comments -->
	아래로 댓글 리스트
	<div class="comments">
		{% if comments %}
		{% for comment in comments %}
		<div class="each_comment" id="{{ comment.id }}">
			<div class="col-sm-2">{{ comment.user.nickname}}</div>
			<div class="col-sm-7">{{ comment.content }}</div>
			<small> {{ comment.date_created.strftime('%Y-%m-%d %H:%M:%S') }} </small>
		</div>
		{% endfor %}
		{% endif %}
	</div>
	<form method="post" action="{{url_for('comment_create')}}" >
		<textarea name="comment"  class="form-control" rows="3" width="100%" placeholder="댓글을 입력하세요."> </textarea>
		<button type="submit" href="#" class="btn">댓글 입력</button>
		<input type="hidden" value="{{article.id}}" name="id">
	</form>
</div>
{% endblock %}


