{% extends "layout_main.html" %}
{% block contents %}
<p class="subTitle"><img src="{{url_for('static', filename='images/sub_common/tit07.gif') }}" alt="게시판" /></p>
{% if betlist and history %}
{% for bet in betlist %}
<table id="{{history[loop.index-1].id}}" class="userDataTable">
	<colgroup>
		<col width="160px" />
		<col width="270px" />
		<col width="140px" />
		<col width="270px" />
		<col width="160px" />
	</colgroup>
	<thead>
		<th>경기시간</th>
		<th>승[홈]</th>
		<th>무/기준/핸디</th>
		<th>패[원정]</th>
		<th>결과</th>
	</thead>
	<tbody>
	<tr class="" id="">
		<td colspan="5">
			<div class="bettingContentsWrap">
				{% for v in bet %}
				<div class="bettingContents">
					{% if v.game %}
					<p class="date">{{ v.game.date.strftime('%m/%d') }}[{% if  v.game.date.strftime('%A') == 'Monday'%}월{% elif  v.game.date.strftime('%A') == 'Tuesday'%}화{% elif  v.game.date.strftime('%A') == 'Wednesday'%}수{% elif  v.game.date.strftime('%A') == 'Thursday'%}목{% elif  v.game.date.strftime('%A') == 'Friday'%}금{% elif v.game.date.strftime('%A') == 'Saturday'%}토{% elif  v.game.date.strftime('%A') == 'Sunday'%}일{%else%}{%endif%}] {{ v.game.date.strftime('%H:%M') }}</p>
					<p class="victory home {%if v.betting == 1 %}clicked{% endif %}"><span class="team">{{ v.game.home }} {{v.game.league_detail.home}}</span><span class="distribution rate">{{v.game.home_rate}}</span></p>
					{% if v.game.league_detail.game == 1 %}
					<p class="draw {%if v.betting == 0 %}clicked{% endif %}"><span class="rate">{{ v.game.draw_rate }}</span></p>
					{% elif v.game.league_detail.game == 2 %}
					<p class="draw">{{v.game.handicap}}</p>
					{% else %}
					<p class="draw">{{v.game.standard}}</p>
					{% endif %}	
					<p class="lose away {%if v.betting == -1 %}clicked{% endif %}"><span class="distribution rate">{{ v.game.away_rate}}</span><span class="team">{{v.game.league_detail.away}} {{v.game.away}}</span></p>

					<p class="state">
					{% if v.game.finish == 0%}
					대기중
					{% else %}
					{%if v.game.league_detail.menu == 4 %}{%else%}{{v.game.home_score}}:{{v.game.away_score}}{%endif%}
					- {% if v.isSuccess == 1 %}적중{% else %}미적중{% endif %}
					{% endif %}
					</p>


					{% elif v.ladder_game %}
					<p class="date">{{ v.ladder_game.ladder.date.strftime('%Y-%m-%d %H:%M') }}</p>
					<p class="victory home {%if v.betting == 1 %}clicked{% endif %}"><span class="team">{{v.ladder_game.number}} 회차(홀)</span><span class="distribution rate">{{v.ladder_game.ladder.odd_rate}}</span></p>
					<p class="draw">vs</p>

					<p class="lose away {%if v.betting == -1 %}clicked{% endif %}"><span class="distribution rate">{{v.ladder_game.ladder.odd_rate}}</span><span class="team">{{v.ladder_game.number}} 회차(짝)</span></p>

					<p class="state">
					{% if v.ladder_game.win == 0%}
					경기중
					{% elif v.ladder_game.win == -1%}짝
					: {% if v.ladder_game.win == v.betting %}적중{% else %}미적중{% endif %}
					{% elif v.ladder_game.win == 1 %}홀
					: {% if v.ladder_game.win == v.betting %}적중{% else %}미적중{% endif %}
					{% else %}
					{% endif %}
					</p>
					{% endif %}
				</div><!-- bettingContents -->


				{% endfor %}
				<div class="myBatting">
					<div class="how">
						<p><strong>배팅시간</strong><span>{{history[loop.index-1].date}}</span></p>
						<p>
						<strong>배팅게임</strong>
						<span>
							{% if history[loop.index-1].game == 1%}
							승무패
							{% elif history[loop.index-1].game == 2%} 
							핸디캡
							{% elif history[loop.index-1].game == 3%} 
							스페셜	
							{% elif history[loop.index-1].game == 4%} 
							사다리
							{% else %}
							{% endif %}	
						</span>
						</p>
					</div><!-- how -->
					<div class="what">
						<p><strong>배당률</strong><span>{{history[loop.index-1].rate}}</span></p>
						<p><strong>예상당첨금액</strong><span class="toComma">{{(history[loop.index-1].rate*history[loop.index-1].money_bet)|int}}원</span></p>
					</div><!-- what -->
					<div class="money">
						<p><strong>배팅금액</strong><span class="toComma">{{history[loop.index-1].money_bet}}원</span></p>
						<p><strong>당첨금액</strong>{% if history[loop.index-1].state == 1%}<span class="toComma">{{(history[loop.index-1].rate*history[loop.index-1].money_bet)|int}}원</span>{%else%}<span>0원</span>{% endif %}</p>	
					</div><!-- money -->
					<div class="buttonWrap">
						<button class="btn history_delete">내역삭제</button><br/>
						<button class="btn betting_cancel greyBtn">배팅취소</button>
					</div>
				</div><!-- myBatting -->
			</div><!-- bettingContentsWrap -->
		</td>
	</tr>
	</tbody>
</table>
{% endfor %}
{% else %}
<h1>배팅 내역이 없습니다.</h1>
{% endif %}


{% endblock %}
