{% extends "layout.html" %}
{% block contents %}
<p class="subTitle"><img src="{{url_for('static', filename='images/sub_common/tit01.gif') }}" alt="승무패" /></p>
	<table class="table">
		<thead>
			<th width="8%">종목</th>
			<th width="15%">경기시간</th>
			<th width="30%">승(홈팀)</th>
			<th width="10%">무</th>
			<th width="30%">패(원정팀)</th>
			<th>상태</th>
		</thead>
		<tbody>
			{% if gamelist %}
			{% for game in gamelist|sort(reverse=True,attribute='league_detail.league.name') %}
			<tr class="" id="{{ game.id }}">
				<td>{{game.league_detail.league.name}}</td>
				<td>{{ game.date.strftime('%Y-%m-%d %H:%M') }}</td>
					<td class="home clickbox" style="text-align:left;"><span class="name">{{ game.home }}</span><span> {{game.league_detail.name}}</span><span class="rate">{{ game.home_rate }}</span></td>
				{% if game.draw_rate == 0 %}
				<td> VS</td>
				{% else %}
				<td class="draw clickbox"><span class="rate">{{ game.draw_rate }}</span></td>
				{% endif %}	
				<td  class="away clickbox" style="text-align:right;"><span class="rate">{{ game.away_rate }}</span><span><span>{{game.league_detail.name}}</span><span class="name"> {{ game.away }}</span> </td>
				<td>
					{% if game.state == 0%}{%endif%}</option>
					{% if game.state == 1%}배팅가능{%endif%}</option>
					{% if game.state == 2%}배팅중지{%endif%}</option>
					{% if game.state == 3%}배팅종료{%endif%}</option>
				</td>
			</tr>
			{% endfor %}
			{% else %}
			{% endif %}
		</tbody>
	</table>
{% endblock %}

