{% extends "layout_main.html" %}
{% block contents %}
<p class="subTitle"><img src="{{url_for('static', filename='images/sub_common/tit11.gif') }}" alt="환전" /></p>

<div class="textBox">
	<div class="charge exchange">
		<div class="topText">
			<p>1. 입금하실 계좌에 PC 뱅킹, 폰뱅킹, 무통장 입금, ATM등의 방법 중 하나를 선택하여 입금합니다.</p>
			<p>2. 입금자이름에는 입금하신분의 성함을 넣어주세요.</p>
			<p>3. 확인 버튼을 클릭하시면 충전신청이 완료됩니다.</p>
			<p>4. 입금하시기전 고객센터로 계좌번호 확인 부탁드립니다.(계좌번호가 수시로 변경될 수 있습니다.) </p>
			<p>5 .충전시 현재 발급된 계좌 외에 다른 어떤 계좌로 입금할 경우 그 입금액은 절대 보호 받으실 수 없습니다.</p>
			<p>6. 최소 충전금액은 10,000원 단위 입니다.</p>
			<p>7. 입금자명과 가입시 등록된 예금주명과 동일해야만 충전이 승인되니 이점 유의하시기 바랍니다.</p>
			<p>8. 수표입금 불가능 입니다.</p>
		</div><!-- topText -->
		<div class="allMoney">
			<p class="title">보유금액</p>
			<p id="money_crt" class="money toComma">{{user.money_crt}}원</p>
		</div><!-- allMoney -->
		<div class="chargeMoney">
			<p class="title">환전금액</p>
			<p class="money"><input type="text" id="chargemoney" class="form-control toComma" name="exchangemoney" value=""></p>
			<div class="buttonWrap">
				<button id="charge1" class="btn">1만원</button>	<button id="charge2" class="btn">5만원</button>	<button id="charge3" class="btn">10만원</button>	<button id="charge_init" class="btn greyBtn">초기화</button>	
			</div><!-- buttonWrap -->
		</div><!-- chargeMoney -->
		<div class="bankWrap">
			<p>입금계좌정보 : {{ user.bank }} {{ user.bank_account }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 예금주 : {{ user.bank_name }}</p>
		</div><!-- bankWrap -->
		<p class="request"><button class="btn exchange_money">환전요청</button></p>
	</div><!-- charge -->
</div><!-- textBox -->


<p>&nbsp;</p>

{% endblock %}




