{% extends "layout.html" %}
{% block contents %}
<p class="subTitle"><img src="{{url_for('static', filename='images/sub_common/tit02.gif') }}" alt="핸디캡" /></p>
<div class="vsLeft">
	<table class="userDataTable sUserDataTable">
		<colgroup>
			<col width="160px" />
			<col width="210px" />
			<col width="80px" />
			<col width="210px" />
			<col width="120px" />
		</colgroup>
		<thead>
			<tr>
				<th>경기시간</th>
				<th>승(홈팀)</th>
				<th>무</th>
				<th>패(원정팀</th>
				<th>상태</th>			
			</tr>
		</thead>
		<tbody>
	{% if retlist %}
	{% for ret in retlist %}
		<tr>
			<td colspan="5">
				<p class="kind">{{ret[0].league_detail.league.name}}{{ret[0].league_detail.name}}</p>
	{% for game in ret %}
				<div class="battingContents" id="{{game.id}}">

				<p class="date">{{ game.date.strftime('%Y-%m-%d %H:%M') }}</p>
				<p class="clickbox victory home {%if game.win == 1%}clicked{%endif%}"><span class="team">{{game.home}}</span><span class="distribution rate">{{game.home_rate}}</span></p>
				{% if game.draw_rate == 0 %}
				<p class="draw">{{ game.handicap }}</p>
				{% else %}
				<p class="clickbox draw {%if game.win == 0%}clicked{%endif%}"><span class="rate">{{ game.draw_rate }}</span></p>
				{% endif %}	
				<p class="clickbox lose away {%if game.win == -1%}clicked{%endif%}"><span class="distribution rate">{{game.away_rate}}</span><span class="team">{{game.away}}</span></p>
				<p class="state">
				{% if game.state == 0%}{%endif%}
				{% if game.state == 1%}배팅가능{%endif%}
				{% if game.state == 2%}배팅중지{%endif%}
				{% if game.state == 3%}배팅종료{%endif%}
				</p>

				</div><!-- battingContents -->
		{% endfor %}
			</td>
		</tr>
		{% endfor %}
		{% else %}
		{% endif %}
		</tbody>
	</table><!-- userDataTable -->		
</div><!-- vsLeft -->

	{% endblock %}


