{% extends "layout_main.html" %}
{% block contents %}
<h1> 내정보</h1>
<table class="dataTable tableStyle01">
	<tr>
		<th>아이디</th>
		<td>{{user.account}}</td>
		<th>닉네임</th>
		<td>{{user.nickname}}</td>
		<th>가입일</th>
		<td>{{user.join_date}}</td>
	</tr>
	<tr>
		<th>추천인</th>
		<td>{{user.rec_person}}</td>
		<th>접속일</th>
		<td>{%if log %}{{log.date}}{%else%}접속기록없음{%endif%}</td>
		<th>접속 IP</th>
		<td>{%if log %}{{log.ip}}{%else%}접속기록없음{%endif%}</td>
	</tr>
	<tr>
		<th>연락처</th>
		<td> <input type="text" class="form-control" name="" value="{{ user.phone }}"></td>
		<th>보유금액</th>
		<td>{{ user.money_crt }}</td>
		<th>총충전금액</th>
		<td>{{ user.money_charge }}</td>
	</tr>
	<tr>
		<th>은행명</th>
		<td> <input type="text" class="form-control" id="bank" value="{{ user.bank }}"></td>
		<th>계좌번호</th>
		<td><input type="text" class="form-control" id="bank_account" value=" {{ user.bank_account }}"></td>
		<th>예금주</th>
		<td> <input type="text" class="form-control" id="bank_name" value="{{ user.bank_name }}"></td>
	</tr>
	<tr>
		<th>레벨</th>
		<td>{{user.level}}</td>
		<th>상태</th>
		<td>
			{% if user.state == 0%}사용중{%endif%}
			{% if user.state == 1%}정지{%endif%}
		</td>
		<th>위험도</th>
		<td>
			{% if user.danger == 0%}보통{%endif%}
			{% if user.danger == 1%}안전 {%endif%}
			{% if user.danger == 2%}매우안전{%endif%}
			{% if user.danger == -1%}위험{%endif%}
			{% if user.danger == -2%}매우위험{%endif%}
		</td>
	</tr>
</table>
<div align="center">
	<button class="btn mBtn mypage_modify">정보수정</button>
</div>
<input type="hidden" name="id" value="{{user.id}}"/>
<table class="dataTable">
	<thead>
		<tr>
			<th>선택</th>
			<th>받은 날짜</th>
			<th>내용</th>
			<th>확인여부</th>
		</tr>
	</thead>
	<tbody>
	{% if msgs %}
	{% for m in msgs %}
	<tr class="select" id="{{ m.id }}">
		<td> <input type="checkbox" name="select"></td>
		<td>{{ m.date.strftime('%Y-%m-%d %H:%m') }}</td>
		<td>{{ m.message }}</td>
		<td>{% if m.check == 0 %}확인안함{%else%}확인함{%endif%}</td>
	</tr>
	{% endfor %}
	{% endif %}
	</tbody>
</table>
<div align="center">
	<button class="btn mBtn mypage_message_delete">선택삭제</button>
</div>
{% endblock %}


