{% extends "layout.html" %}
{% block contents %}
<p class="subTitle"><img src="{{url_for('static', filename='images/sub_common/tit04.gif') }}" alt="게시판" /></p>
<div class="vsLeft">
	<div class="iframeWrap">
		<iframe class="iframeContents" src="http://named.com/game/ladder/v2_index.php" width=800 height=700 frameborder=1 scrolling=no></iframe>
	</div>
	<table class="userDataTable sUserDataTable">
		<thead>
			<th width="15%">회차</th>
			<th width="30%">홀</th>
			<th width="10%">무</th>
			<th width="30%">짝</th>
			<th width="12%">결과</th>
		</thead>
		<tbody>
		{% if ladderlist %}
		<tr>
			<td colspan="5">
				<p class="kind"></p>
				{% for ladder in ladderlist|sort(attribute='ladder.date', reverse=True)%}
				{% if ladder.state == 2 %}
				<div class="battingContents" id="{{ladder.id}}">

					<p class="date">{{ ladder.ladder.date.strftime('%m-%d') }}: {{ ladder.number }}회차</p>
					<p class="clickbox victory home {%if ladder.win == 1%}clicked{%endif%}"><span class="distribution rate">{{ ladder.ladder.odd_rate }}</span></p>
					<p class="draw">vs</p>
					<p class="clickbox lose away {%if ladder.win == -1%}clicked{%endif%}"><span class="distribution rate">{{ ladder.ladder.even_rate }}</span></p>
					<p class="state">
					{% if ladder.win == 1 %}홀{% elif ladder.win == -1%} 짝{% else %} 미정 {% endif %}
					</p>

				</div><!-- battingContents -->
				{% else %}
				<div class="battingContents" id="{{ladder.id}}">

					<p class="date">{{ ladder.ladder.date.strftime('%m-%d') }}: {{ ladder.number }}회차</p>
					<p class="victory home {%if ladder.win == 1%}clicked{%endif%}"><span class="distribution rate">{{ ladder.ladder.odd_rate }}</span></p>
					<p class="draw">vs</p>
					<p class="lose away {%if ladder.win == -1%}clicked{%endif%}"><span class="distribution rate">{{ ladder.ladder.even_rate }}</span></p>
					<p class="state">
					{% if ladder.win == 1 %}홀{% elif ladder.win == -1%} 짝{% else %} 미정 {% endif %}
					</p>

				</div><!-- battingContents -->
				{% endif %}
				{% endfor %}
			</td>
		</tr>
				{% endif %}
		</tbody>
	</table>
</div>
{% endblock %}




